{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>

                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                        <div class="form-group mb-3">
                            {{ form_row(registrationForm.username, { 'label': 'Nom d\'utilisateur', 'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'} }) }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form_row(registrationForm.plainPassword, { 'label': 'Mot de passe', 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
                        </div>
                        <div class="form-check mb-3">
                            {{ form_row(registrationForm.agreeTerms, { 'label': 'Je suis d\'accord avec les termes et conditions', 'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'} }) }}
                        </div>

                        <button type="submit" class="btn btn-dark btn-block">Inscription</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .form-check-input:checked {
            background-color: #000;
        }
    </style>

{% endblock %}
