{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4"><i class="bi bi-file-lock me-3"></i>Liste des utilisateurs - Administration<i class="bi bi-file-lock ms-3"></i></h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                    <span class="badge bg-danger">{{ role }}</span>
                                {% elseif role == 'ROLE_USER' %}
                                    <span class="badge bg-primary">{{ role }}</span>
                                {% else %}
                                    <span class="badge bg-secondary">{{ role }}</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('app_user_edit', {'id': user.id}) }}" class="link-dark" style="font-size: 1.2em;"><i class="bi bi-pencil-square"></i></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun utilisateur trouvé.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('app_user_new') }}" class="btn btn-success">Ajouter un utilisateur</a>
    </div>
{% endblock %}
